<launch>
	<!-- <rosparam command="load" file="$(find simple_planning_interface)/cfg/waypoints.yaml" /> -->

	<node name="racer_interface_node" pkg="simple_planning_interface" type="racer_interface" output="screen" />
	<node type="rviz" name="rviz" pkg="rviz" args="-d $(find simple_planning_interface)/rviz/rviz_racer_interface.rviz" />

</launch>